<body>

  <!--Do testów - automatyczne logowanie-->
  <div style="margin-top: 40px; text-align: center;">
    <button mat-stroked-button color="primary" (click)="loginTest()">Zaloguj (Testowanie)</button>
  </div>
  <!--Do testów-->
  <p style="text-align: center; font-style: italic; margin-bottom: 20px;">
    Status:
    <span *ngIf="isLoggedIn(); else notLoggedIn">
      Zalogowany jako <strong>{{ getUsername() }}</strong>
    </span>
    <ng-template #notLoggedIn>
      Nie zalogowany
    </ng-template>
  </p>
  <!--Do testów - automatyczne wylogowanie-->
  <div style="margin-top: 10px; text-align: center;">
    <button mat-stroked-button color="warn" (click)="logoutTest()">Wyloguj (Testowanie)</button>
  </div>
</body>

